In [119]:
import pandas as pd
import numpy as np
import os
import sys

df = pd.read_csv(os.path.join(sys.path[0], "healthcare-dataset-stroke-data.csv"))
df = df.drop(columns=['id'])

In [120]:
def replace_smoke(type):
    if (type == 0): #remove all unknow row
        df.replace(["never smoked", "formerly smoked", "smokes"],[0,1,2],inplace=True)
        df.drop(df[df['smoking_status'] == 'Unknown'].index, inplace=True)
    if (type == 1): #set unknow as single category
        df.replace(["never smoked", "formerly smoked", "smokes", "Unknown"],[0,1,2,-1],inplace=True)
    if (type == 2): #default unknow to be smokes 
        df.replace(["never smoked", "formerly smoked", "smokes", "Unknown"],[0,1,2,2],inplace=True)

replace_smoke(0)

In [121]:
df = pd.get_dummies(df, columns = ["gender", "ever_married", "work_type", "Residence_type"], dtype=int) 
df = df.drop(columns="gender_Other")
print(df)

       age  hypertension  heart_disease  avg_glucose_level   bmi  \
0     67.0             0              1             228.69  36.6
1     61.0             0              0             202.21   NaN
2     80.0             0              1             105.92  32.5
3     49.0             0              0             171.23  34.4
4     79.0             1              0             174.12  24.0
...    ...           ...            ...                ...   ...
5102  57.0             0              0              77.93  21.7
5105  80.0             1              0              83.75   NaN
5106  81.0             0              0             125.20  40.0
5107  35.0             0              0              82.99  30.6
5108  51.0             0              0             166.29  25.6

     smoking_status  stroke  gender_Female  gender_Male  ever_married_No  \
0                 1       1              0            1                0
1                 0       1              1            0                0
2                 0       1              0            1                0
3                 2       1              1            0                0
4                 0       1              1            0                0
...             ...     ...            ...          ...              ...
5102              0       0              1            0                0
5105              0       0              1            0                0
5106              0       0              1            0                0
5107              0       0              1            0                0
5108              1       0              0            1                0

      ever_married_Yes  work_type_Govt_job  work_type_Never_worked  \
0                    1                   0                       0
1                    1                   0                       0
2                    1                   0                       0
3                    1                   0                       0
4                    1                   0                       0
...                ...                 ...                     ...
5102                 1                   0                       0
5105                 1                   0                       0
5106                 1                   0                       0
5107                 1                   0                       0
5108                 1                   0                       0

      work_type_Private  work_type_Self-employed  work_type_children  \
0                     1                        0                   0
1                     0                        1                   0
2                     1                        0                   0
3                     1                        0                   0
4                     0                        1                   0
...                 ...                      ...                 ...
5102                  1                        0                   0
5105                  1                        0                   0
5106                  0                        1                   0
5107                  0                        1                   0
5108                  1                        0                   0

      Residence_type_Rural  Residence_type_Urban
0                        0                     1
1                        1                     0
2                        1                     0
3                        0                     1
4                        1                     0
...                    ...                   ...
5102                     1                     0
5105                     0                     1
5106                     0                     1
5107                     1                     0
5108                     1                     0

[3566 rows x 18 columns]

In [122]:
def fill_NA_bmi(type):
    if(type == 0):
        bmi_mean = df["bmi"].mean()
        df['bmi'] = df['bmi'].fillna(bmi_mean)
    if(type == 1):
        bmi_median = df["bmi"].median()
        df['bmi'] = df['bmi'].fillna(bmi_median)
    if(type == 2):
        bmi_mode = df["bmi"].mode()
        df['bmi'] = df['bmi'].fillna(bmi_mode)
fill_NA_bmi(0)

In [123]:
df

,age,hypertension,heart_disease,avg_glucose_level,bmi,smoking_status,stroke,gender_Female,gender_Male,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban
0,67.0,0,1,228.69,36.600000,1,1,0,1,0,1,0,0,1,0,0,0,1
1,61.0,0,0,202.21,30.290047,0,1,1,0,0,1,0,0,0,1,0,1,0
2,80.0,0,1,105.92,32.500000,0,1,0,1,0,1,0,0,1,0,0,1,0
3,49.0,0,0,171.23,34.400000,2,1,1,0,0,1,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.000000,0,1,1,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5102,57.0,0,0,77.93,21.700000,0,0,1,0,0,1,0,0,1,0,0,1,0
5105,80.0,1,0,83.75,30.290047,0,0,1,0,0,1,0,0,1,0,0,0,1
5106,81.0,0,0,125.20,40.000000,0,0,1,0,0,1,0,0,0,1,0,0,1
5107,35.0,0,0,82.99,30.600000,0,0,1,0,0,1,0,0,0,1,0,1,0
5108,51.0,0,0,166.29,25.600000,1,0,0,1,0,1,0,0,1,0,0,1,0